.connection-form {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 0px;
    margin: 2rem 5rem 0 5rem;

    @media screen and (max-width: 375px) {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 0;
        height: auto;
    }

    input {

        @media screen and (max-width: 375px) {
            width: auto;
        }
    }

    select {
        
        @media screen and (max-width: 375px) {
            width: auto;
        }
    }

    .info-container {

        ul {
            display: flex;
            margin: 2rem 0;
            align-items: center;

            li {
                display: flex;
                cursor: pointer;

                img {
                    width: 24px;
                    height: 24px;
                }

                &:hover {
                    color: $accent-blue-hover;
                }

                &:first-child {
                    margin-right: 1rem;
                }
            }

            .active-btn {
                color: $accent-blue;
                background: #34adf92d;
                padding: 10px;
                border-radius: 10px;
            }

            .seller {
                background: #ffb84652;
                padding: 10px;
                border-radius: 10px;
            }

        }
    }


    .form-container {
        display: flex;
        flex-direction: column;

        .register-confirmation {
            display: flex;

            img {
                max-width: 68px;
                max-height: 68px;
                margin-right: 1rem;
            }
        }

        .validation-message {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                max-width: 68px;
                max-height: 68px;
                margin-bottom: 1rem;
            }

            h4 {
                margin-bottom: 1rem;
            }
        }

        .title-connexion {
            margin-bottom: 2rem;

            h2 {

                @media screen and (max-width: 375px) {
                    font-size: 1rem;
                }
            }

            img {
                width: 200px;
            }

            span {
                color: $accent-blue;
            }
        }

        ul {
            display: flex;
            margin: 2rem 0;
            align-items: start;

            li {
                
                cursor: pointer;

                &:hover {
                    color: $accent-blue-hover;
                }

                &:first-child {
                    margin-right: 1rem;
                }
            }

            .active-btn {
                color: $accent-blue;
                background: #34adf92d;
                padding: 10px;
                border-radius: 10px;
            }

        }

        .reset-password {
            margin: 2rem 0;

            p { cursor: pointer;
            
            &:hover {
                color: $accent-blue;
            }}
        }


    }
}