.connection-form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-container {
        display: flex;
        flex-direction: column;

        .register-confirmation {
            display: flex;

            img {
                max-width: 68px;
                max-height: 68px;
                margin-right: 1rem;
            }
        }

        .validation-message {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                max-width: 68px;
                max-height: 68px;
                margin-bottom: 1rem;
            }

            h4 {
                margin-bottom: 1rem;
            }
        }

        .title-connexion {
            margin-bottom: 2rem;

            img {
                width: 200px;
                margin-bottom: 1rem;
            }

            span {
                color: $accent-blue;
            }
        }

        ul {
            display: flex;
            margin: 2rem 0;

            li {
                cursor: pointer;

                &:hover {
                    color: $accent-blue-hover;
                }

                &:first-child {
                    margin-right: 1rem;
                }
            }

            .active-btn {
                color: $accent-blue;
            }

        }

        .reset-password {
            margin: 2rem 0;

            p { cursor: pointer;
            
            &:hover {
                color: $accent-blue;
            }}
        }


    }
}