footer {
    display: flex;
    justify-content: space-between;
    background: #2F81FB;
    padding: 2rem 5rem;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 1400px) {
        padding: 1rem 5rem;
    }

    @media screen and (max-width: 375px) {
        padding: 1rem 1rem;
    }

    .cta-nav-container {

        @media screen and (max-width: 375px) {
            padding: 1rem 1rem;
        }
    }

    .logo-container {

        img {
            width: 150px;
        }
    }
}