.table-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    // position: absolute;
    // left: 300px;
    // width: calc(100% - 300px);
    // height: 90%;
    // padding: 1.5rem;
    // overflow-y: scroll;
    // scrollbar-width: thin;

    .title-container {

        h3 {
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 1500px)  {
        left: 220px;
        width: calc(100% - 220px);
    }

    @media screen and (max-width: 800px)  {
        left: 0px;
        width: calc(100%);
    }

    .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            width: 90%;
            max-width: 1000px;


        .card-container {
            padding: 10px;
            background-color: white;
            border-radius: 16px;
            // box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
            width: 380px;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            .inner {
                height: 100%;
                padding: 20px;
                padding-top: 40px;
                border-radius: 12px;
                position: relative;
                overflow: hidden;

                .pricing {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #2ed47956;
                    border-radius: 99em 0 0 99em;
                    display: flex;
                    align-items: center;
                    padding: .625em .75em;
                    font-size: .8rem; 
                }

                .title {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 2rem;

                    h3 {
                        margin-right: 1rem;
                    }
                }

                .skill {
                    height: auto;
                    overflow-y: hidden;
                    margin-bottom: .5rem;

                    p {
                        font-size: .7rem;
                    }
                }

                .localisation {
                    margin-bottom: .5rem;

                    p {
                        font-size: .7rem;
                    }
                }

                .info-container {
                    margin-bottom: 2rem;

                    .title-information-container {
                        margin-bottom: .5rem;
                    }
    
                    .grid-icon {
                        display: flex;
    
                        .icon-container {
                            display: flex;
                            flex-direction: row;
    
                            img {
                                width: 18px;
                                margin-right: 1rem;
                            }
    
                            p {
                                margin-left: 1rem;
                                font-size: .7rem;
                                // font-weight: bold;
                            }
                        }
                    }

                }

                button {
                    width: 100%;
                }



            }


            
        }
    }


    table {
        width: 100%;
        height: auto;
        background: $white;
        padding: 1rem;
        border-radius: 10px;
        text-align : left;
        border-spacing: 20px 0;
        // table-layout : fixed;

        thead {

            .disable {

                @media screen and (max-width: 600px)  {
                    display: none;
                  }
            }

            .needs {
                // width: 300px;
                text-align: left;
            }

            .sector {
                text-align: left;
            }


            th {
                // text-align: left;
                box-shadow: 0px 1px 0px #EBEFF2;
                padding-bottom: 2rem;


                img {
                    max-width: 12px;
                    max-height: 12px;
                    cursor: pointer;
                }
            }




            
        }



        tbody {
            font-size: .7rem;

            tr {
                box-shadow: 0px 1px 0px #EBEFF2;

                &:first-child {
                    box-shadow: 0px 1px 0px #EBEFF2;
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
                }

                .disable {

                    @media screen and (max-width: 600px)  {
                        display: none;
                      }
                }

                .needs {
                    width: 300px;
                    text-align: left;
                }

                .sector {
                    text-align: left;
                }

                .center {
                    text-align: left;
                }

                .edit {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    button {

                        &:nth-child(2) {
                            margin-top: .5rem;
                        }
                    }
                }

                td {
                    padding: .5rem 0;

                    img {
                        max-width: 24px;
                        max-height: 24px;
                    }
                }
            }

            .popup-empty-list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translateX(-50%);

                h3 {
                    margin-bottom: .5rem;
                }

                p {
                    margin-bottom: 2rem;
                }
            }
        }


    }

    .popup {
        z-index: 100;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        position: fixed;
        animation: popup 1s forwards;

        @keyframes popup {
            to {
              backdrop-filter: blur(10px);
            }
        }

        #edit-contact {
            position: absolute;
            height: auto;
            width: auto;
            top: 10%;
            left: 50%;
            transform: translate(-100%);
            align-items: left;
            text-align: left;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto auto auto);
            grid-column-gap: 10px;
            grid-row-gap: 10px;

            h3 {
                grid-area: 1 / 1 / 2 / 3;
                margin-bottom: .5rem;
            }

            .left-side {
                grid-area: 2 / 1 / 3 / 2;

                img { margin: 0}
                p {margin-bottom: 1rem}
            }

            .right-side {
                grid-area: 2 / 2 / 3 / 3;

                img { margin: 0}
                p {margin-bottom: 1rem}
            }

            .btn-unlock {
                margin-top: 2rem;
                grid-area: 3 / 1 / 4 / 3; 
            }

            input {
                border: 1px solid $icon-gray;

                &:focus {
                    border: 1px solid $accent-blue;
                }
            }
            
        }

        .modal {
            position: absolute;
            height: auto;
            width: 40%;
            top: 35%;
            left: 50%;
            transform: translate(-100%);
            background: $white;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 0 1px $icon-gray;
            overflow: auto;
            transform: scaleY(0);
            transform-origin: center;
            animation: modal .5s forwards;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      
            h3 {
              margin-bottom: .5rem;
            }

            img {
                margin: 2rem 0;
            }

            p {
                margin-bottom: 2.5rem;
            }

            button:first-child {
                margin-right: 1rem;
            }

            #paiement-failed {
                margin-right: 0;
            }

        }

        @keyframes modal {
            to {
              transform: scale(1) translate(-50%);
            }
          }
    }
}
    