main {
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
    height: 90%;
    padding: 1.5rem;
    overflow-y: scroll;
    scrollbar-width: thin;


    table {
        width: 100%;
        height: auto;
        background: $white;
        padding: 1rem;
        border-radius: 10px;

        thead {


            th {
                text-align: left;
                box-shadow: 0px 1px 0px #EBEFF2;
                padding-bottom: 2rem;


                img {
                    max-width: 12px;
                    max-height: 12px;
                    cursor: pointer;
                }
            }




            
        }



        tbody {

            tr {

                box-shadow: 0px 1px 0px #EBEFF2;

                &:first-child {
                    box-shadow: 0px 1px 0px #EBEFF2;
                }

                td {
                    padding: .5rem 0;

                    img {
                        max-width: 24px;
                        max-height: 24px;
                    }
                }
            }

            .popup-empty-list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translateX(-50%);

                h3 {
                    margin-bottom: .5rem;
                }

                p {
                    margin-bottom: 2rem;
                }
            }
        }


    }

    .popup {
        z-index: 100;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        position: fixed;
        animation: popup 1s forwards;

        @keyframes popup {
            to {
              backdrop-filter: blur(10px);
            }
        }

        .modal {
            position: absolute;
            height: auto;
            width: 40%;
            top: 35%;
            left: 50%;
            transform: translate(-100%);
            background: $white;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 0 1px $icon-gray;
            overflow: auto;
            transform: scaleY(0);
            transform-origin: center;
            animation: modal .5s forwards;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      
            h3 {
              margin-bottom: .5rem;
            }

            img {
                margin: 2rem 0;
            }

            p {
                margin-bottom: 2.5rem;
            }

            button:first-child {
                margin-right: 1rem;
            }

            #paiement-failed {
                margin-right: 0;
            }

        }

        @keyframes modal {
            to {
              transform: scale(1) translate(-50%);
            }
          }
    }
}
    