header {
    min-height: 60px;
    background: $white;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    border-bottom: 1px solid #EBEFF2;

    .notification {
        display: flex;
        align-items: center;
        position: relative;

            .noti {
                width: 20px;
                height: 20px;
                background: $red;
                border-radius: 50%;
                position: absolute;
                top: -5px;
                right: -5px;
            }

            .pulse {
                animation: pulse2 2s infinite;
                cursor: pointer;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: block;
                box-shadow: 0 0 0 #ffb84652;

                @media screen and (max-width: 375px) {
                  width: 6px;
                  height: 6px;
              }

                @-webkit-keyframes pulse2 {
                    0% {
                      -webkit-box-shadow: 0 0 0 0 #ffb84652 !important;
                    }
                    70% {
                        -webkit-box-shadow: 0 0 0 10px #ffb84652 !important;
                    }
                    100% {
                        -webkit-box-shadow: 0 0 0 0 #ffb84652 !important;
                    }
                  }
                  @keyframes pulse2 {
                    0% {
                      -moz-box-shadow: 0 0 0 0 #ffb84652 !important;
                      box-shadow: 0 0 0 0 #ffb84652 !important;
                    }
                    70% {
                        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
                        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
                    }
                    100% {
                        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
                        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
                    }
                  }

                  &:hover {
                    animation: none;
                  }
            }
        

    }

    a {
        margin-left: 1rem;

        img {
            cursor: pointer;
            width: 100px;

            @media screen and (max-width: 600px)  {
                display: none;
              }
        }
    }

    .menu-burger {
        display: none;

        img { 
            width: 24px;
            cursor: pointer;
        }

        @media screen and (max-width: 900px)  {
            display: flex;
            margin-right: 2rem;
        }

        @media screen and (max-width: 600px)  {
            margin: 0;
          }
    }

    

    .credit-balance {
        display: flex;
        margin-right: 2rem;

        span {
            margin-right: .5rem;
            font-weight: bold;
            color: $green;
        }
    }

    .deconnexion {
        display: flex;

        p {
            margin-right: 1rem;
            cursor: pointer;

            @media screen and (max-width: 600px)  {
                display: none;
              }
        }
    }

    a {
        margin-right: 2rem;

        @media screen and (max-width: 600px)  {
            display: none;
          }
    }

    h2 {
        cursor: pointer;
        color: $accent-blue;
    }

    .icon {
        display: flex;
        align-items: center;

        @media screen and (max-width: 600px)  {
            width: 100%;
            justify-content: space-between;
          }
    }
}