.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 300px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
    height: 90%;
    padding: 1.5rem;
    overflow-y: scroll;
    scrollbar-width: thin;

    .title-container {

        h3 {
            font-size: 1.5rem;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
    
        img {
            width: 80px;
            margin-bottom: 3rem;
        }
    
        h3 {
            margin-bottom: .5rem;
        }
    
        P {
            margin-bottom: 2rem;
        }
    
        form {
            display: flex;
            flex-direction: column;
    
            input {
                margin-bottom: 2rem;
                width: auto;
            }
    
            button {
    
                p { margin: 0;}
            }
    
            textarea {
                border-radius: 5px;
                padding: .5rem .5rem;
                margin-bottom: 2rem;
                width: auto;
                height: 200px;
            }
        }
    }
}