.grid-leads-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .lead-container {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            border-top: 1px solid $gray;

            &:last-child {
                border-bottom: 1px solid $gray;

                &:hover {
                    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
                }
            }
        }

}