nav {
    display: flex;
    justify-content: space-between;
    background: #2F81FB;
    padding: 2rem 5rem;
    align-items: center;
    text-align: center;


    @media screen and (max-width: 1400px) {
        padding: 1rem 5rem;
    }

    @media screen and (max-width: 450px) {
        padding: 1rem 2rem;
    }

    @media screen and (max-width: 375px) {
        padding: 1rem 1rem;
    }

    .notification {
        display: flex;
        align-items: center;
        text-align: center;
        color: white;

        small {

            @media screen and (max-width: 375px) {
                font-size: .8rem !important;
            }

        }

        a {

            @media screen and (max-width: 375px) {
                font-size: .8rem !important;
            }

        }

            

        p {
            line-height: 40px;

        }

        .pastille {
            background: #2ED47A;
            border-radius: 50%;
        }

        .pulse {
                      margin-right: 1rem;
                      animation: pulse 2s infinite;
                      cursor: pointer;
                      width: 20px;
                      height: 20px;
                      border-radius: 50%;
                      display: block;
                      box-shadow: 0 0 0 #2ED47A;

                      @media screen and (max-width: 375px) {
                        width: 6px;
                        height: 6px;
                    }

                      @-webkit-keyframes pulse {
                          0% {
                            -webkit-box-shadow: 0 0 0 0 #2ED47A;
                          }
                          70% {
                              -webkit-box-shadow: 0 0 0 10px #2ED47A;
                          }
                          100% {
                              -webkit-box-shadow: 0 0 0 0 #2ED47A;
                          }
                        }
                        @keyframes pulse {
                          0% {
                            -moz-box-shadow: 0 0 0 0 #2ED47A;
                            box-shadow: 0 0 0 0 #2ED47A;
                          }
                          70% {
                              -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
                              box-shadow: 0 0 0 10px rgba(204,169,44, 0);
                          }
                          100% {
                              -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
                              box-shadow: 0 0 0 0 rgba(204,169,44, 0);
                          }
                        }

                        &:hover {
                          animation: none;
                        }
                  }
    }

    .cta-nav-container {

        @media screen and (max-width: 550px) {
            display: none;
        }
    }

    .logo-container {

        img {
            width: 150px;

            @media screen and (max-width: 375px) {
                width: 75px;
            }
        }
    }
}