.main-plan {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    left: 300px;
    width: calc(100% - 300px);
    height: 90%;
    padding: 1.5rem;
    overflow-y: scroll;
    scrollbar-width: thin;

    .title-container { grid-area: 1 / 1 / 2 / 4;
        margin-bottom: 2rem;

        h3 {
            font-size: 1.5rem;
        }}
    .planA { grid-area: 2 / 1 / 3 / 2; }
    .planB { grid-area: 2 / 2 / 3 / 3; }
    .planC { grid-area: 2 / 3 / 3 / 4; }
    
        .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 3rem 2rem;
        background: $white;
        width: 260px;
        height: 380px;
        margin-right: 4rem;
    
        &:nth-child(3) {box-shadow: rgba(16, 155, 241, 0.25) 0px 54px 55px, rgba(16, 155, 241, 0.12) 0px -12px 30px, rgba(16, 155, 241, 0.12) 0px 4px 6px, rgba(16, 155, 241, 0.17) 0px 12px 13px, rgba(16, 155, 241, 0.09) 0px -3px 5px;
        }
    
            .header-plan {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                h2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 2.3rem;
                    margin-bottom: 1rem;
    
                    span {
                        color: $accent-blue;
                        margin-bottom: 1.9rem;
                    }
                }
    
                small {
                    color: $icon-gray;
                }
            }
    
            .plan-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                p {
                    font-size: 2.6rem;
                    font-weight: bold;
                    margin-bottom: 1rem;
    
                    span {
                        font-size: 1.8rem;
                    }
                }
    
                small {
                    color: $icon-gray;
                }
            }
    
        }


}

