.logged-user {

    .nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 260px;
        height: 100vh;
        background: $white;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        @media screen and (max-width: 1500px)  {
            width: 220px;
        }

        @media screen and (max-width: 800px)  {
            display: none;
        }

        .sidebar-header {
            height: 60px;
            border-bottom: 1px solid #EBEFF2;
            display: flex;
            text-align: left;
            align-items: center;

            a {
                margin-left: 1rem;

                img {
                    cursor: pointer;
                    width: 100px;
                }
            }


        }

        .upper-container {
            height: auto;
            border-bottom: 1px solid #EBEFF2;
            
        .profil-info {
            display: flex;
            padding: 2rem 1rem 2rem 1rem;
            display: flex;
            text-align: left;
            align-items: center;

            small {
                color: $gray;
                font-size: .7rem;
            }


            
            .img-profil {
                width: 63px;
                margin-right: 1rem;
            }
        }

        
        .navlinks {
            display: flex;
            flex-direction: column;
            
            a {
                display: flex;
                align-items: center;
                justify-content: left;
                padding-bottom: 1rem;
                color: $gray;
                
                img {
                    margin-right: 1rem;
                }
            }
            
            .active-left-nav {
                color: $accent-blue;
            }

            .navlinks-container {
                margin: 1rem 1rem 1rem 1rem;
    
            }
        }

        }

        .version {
            position: absolute;
            left: 0;
            bottom: 0;
            margin: 1rem 1rem 1rem 1rem;
        }

        .lower-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .navlinks {
                height: 40vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                a {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    padding-bottom: 1rem;
                    color: $gray;
                    
                    img {
                        margin-right: 1rem;
                    }
                }
                
                .active-left-nav {
                    color: $accent-blue;
                }
    
                .navlinks-container {
                    margin: 1rem 1rem 1rem 1rem;
                }

                small {
                    color: $accent-blue;
                    margin: 1rem 1rem 1rem 1rem;
                }

            }

            .release-version {
                margin: 16rem 1rem 1rem 1rem;

                small {
                    color: $gray
                }
            }
        }


    }
}